.edit-box{:id => uid2}
  .control-group.input-append
    %span.add-on
      = label_link
    %button.add.btn.btn-medium.edit{:type => "button"}
      %i.icon-edit
    %button.add.btn.btn-medium.delete{:type => "button"}
      %i.icon-remove