<h1>Listing orgunits</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orgunits.each do |orgunit| %>
      <tr>
        <td><%= link_to 'Show', orgunit %></td>
        <td><%= link_to 'Edit', edit_orgunit_path(orgunit) %></td>
        <td><%= link_to 'Destroy', orgunit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orgunit', new_orgunit_path %>
