.navbar.navbar.steps.span
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{href: "#"}
        =t('steps')
      .nav-collapse
        %ul.nav
          %li
            - if ! session['current_study_id'].blank? or session['current_study_id'] != false
              = link_to "General",  :controller => "studies", :action=>'show', :id=>session['current_study_id']
            - else
              = link_to "General",  :controller => "studies", :action=>'new'
             
          %li.contributor
            =link_to t('contributor.label'), study_steps_path+'/contributor'
          %li.universe
            =link_to t('universe.label'), study_steps_path+'/universe'
          %li.method
            =link_to t('method.label'), study_steps_path+'/method'

          
          %li.corpus
            =link_to t('corpus.label'), study_steps_path+'/corpus'
            
          %li.analyse
            =link_to t('analyse.label'), study_steps_path+'/analyse'
          %li.edition
            =link_to t('edition.label'), study_steps_path+'/edition'
          
          %li.note
            =link_to t('other.label'), study_steps_path+'/other'
            
          %li.speaker
            =link_to t('speaker.label'), study_steps_path+'/speaker'

     
      
    
    / /.container
   
  / /.navbar-inner
/ /.navbar

