// Place all the styles related to the studies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.nested-fields {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 500px;
  margin: 20px auto;
}
/*
button.add {
  margin-top:-9px
  
}*/

/*
button.delete {
  margin-top:-2px
  
}
*/

div.control-group > label:first-child{
  font-weight:100;
  
}

.check_boxes .controls, .radio_buttons .controls{
  
  margin-left:5px;
  
  
}



label.error{
  color:red;
  font-size:90%;
}


.tooltip{
    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    padding:5px;
    font-size:11px;
    opacity:0;
    filter:alpha(opacity=0)
}
.tooltip.in{
    opacity:.8;
    filter:alpha(opacity=80)
}
.tooltip.top{
    margin-top:-2px
}
.tooltip.right{
    margin-left:2px
}
.tooltip.bottom{
    margin-top:2px
}
.tooltip.left{
    margin-left:-2px
}
.tooltip.top .tooltip-arrow{
    bottom:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #000
}
.tooltip.left .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #000
}
.tooltip.bottom .tooltip-arrow{
    top:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid #000
}
.tooltip.right .tooltip-arrow{
    top:50%;
    left:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-right:5px solid #000
}
.tooltip-inner{
    max-width:200px;
    padding:3px 8px;
    color:#fff;
    text-align:center;
    text-decoration:none;
    background-color:#000;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}
.tooltip-arrow{
    position:absolute;
    width:0;
    height:0
}

fieldset {
    border: 0 none;
    margin: 0 0 0 10px;
    padding: 0;
}

select, input[type="file"] {
    height: 30px;
    line-height: 30px;
    margin: 0;
}

.add-button{
  float:right;
  
}


.glyphicon-2x {
    height: 13px;
    width: 13px;
}



label.error{
  font-size:12px;
  display:inline;  
}

control-group label:first{
  font-weight:bold;
  
}

div.control-group {
  margin-bottom:5px;
  
}

div.check_boxes .input-append {
  -moz-column-count:3; /* Firefox */
  -webkit-column-count:3; /* Safari and Chrome */
  column-count:3;
  column-width:auto;
  -moz-column-width:auto; /* Firefox */
  -webkit-column-width:auto; /* Safari and Chrome */
}

i.fa-asterisk {
  font-size:10px;
   vertical-align: super;
   color:red;
}

div.control-group .radio, .checkbox {
    min-height: 20px;
    padding-left: 20px;
    margin-right:15px
}

abbr{
   content: ""
  
}

.accordion-body.in { overflow:visible; }

div.container-edit-box{
  margin-top:-15px;
  margin-left:5px;
  
}

div.container-edit-box .edit-box{
  margin-top:10px;
  margin-left:5px;
}

.accordion-heading{
  background:#EEEEEE;
  
}

.accordion-heading a:hover{
 background:#C6C6C6;
 color:black;
}

.accordion-heading .reduce-accordion{
  font-size:18px;
  position:absolute;
  right:25px;
  top:7px;
}
.accordion-heading .delete-accordion{
  font-size:18px;
  position:absolute;
  right:5px;
  top:7px;
}

.association_simple{
  height:auto;
  
}

div.archipolis-field{
  margin-bottom:10px;
  
}

.accordion-container {
  margin-bottom:15px;
  width:400px
}


.modal-body{
  padding:10px 0px 0px 30px
}


.modal-body .archipolis-field{
  
  
  
}

.row{
  margin-left:0px
  
}

.popover{
    z-index:100000000;
}

body .accordion-group{
  opacity:100
  
}


.accordion-container {
    margin-bottom: 15px;
    width: 319px;
}

.flash_messages {
  z-index:10000;
}

.accordion-group {
  margin-top:5px;
  
}
